.comp{
  padding: 20px;
  margin: 10px;
  border: 2px solid #eee;
  border-radius: 25px;
}
.mid{
  width: 80%;
  height: 300px;
  margin: auto;
}
.image{
  width: 100%;
  height: 100%;
}
.control{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
