<div class="card p-3">
  <table class="table text-center">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Update</td>
        <td>Details</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.id) {
      <tr>
        @if (user&& user.id) {
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td><a routerLink="update/{{user.id}}"><i class="fa-solid fa-pen"></i></a></td>
        <td><a routerLink="/details/{{user.id}}"><i class="fa-solid fa-circle-info"></i></a></td>
        <td><a routerLink="" (click)="onDelete(user.id)"><i class="fa-regular fa-trash-can"></i></a>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>